body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}
h1{
    font-family: 'Julius Sans One', sans-serif;
}
p{
    font-family: 'Archivo Narrow', sans-serif;
}
.css-mqwrak-MuiStack-root {
    gap: 0px !important;
    margin:0% !important;
}
.css-jio98t-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    margin-right: 36px;
}
.navbar{
    margin-top: 0px !important;
    background-color: rgb(237, 236, 236);
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
   
}
.css-jio98t-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: -1px !important;
}
.css-jio98t-MuiStack-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0px !important;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #393D4A;
    font-size: 1.5vw;
   
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
}
.signup{
        font-family: 'Archivo Narrow', sans-serif;
        text-align: center;
        letter-spacing: 2px;
        background-color: #393D4A;
        color: white;
        position: fixed;
        margin-top: 3%;
        z-index: 2;
        width: 100%;
        padding: 1%;
    

}
.btn{
    background-color:#393D4A ;
    color: white;
    padding:0.5%;
    border-color: white;
    border-radius: 5px;
}
.banner_bg{
    background-color: #d2d2d2;
    position: relative;
    width: 100%;
}
.banner_img{
  width: 70%;
}
.text_h1{
    color: #393D4A;
    position: absolute;
    top: 48%;
    left: 49%;
    font-size: 4vw;
    letter-spacing: 0.8vw;
}
.text_part{
    color: white;
}

/* circle_design */

.cicle-img{
    width: 20vw;
    position: absolute;
    top: 20%;
    z-index: 1;
}
.cicle-img {
    width: 16vw;
    position: absolute;
    top: 4%;
    z-index: 1;
    left: 80vw;
}

/* search_field */

    .search_field {
        position: absolute;
        top: 33vw;
        left: 44vw;
    }


/* input{
    width: 26vw !important;
   
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 3px solid white !important; ;
    border-radius: 5px;
} */
.text-line {
    /* background-color: transparent; */
    /* opacity: 0.3; */
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    position: absolute;
   
    height: 2.2vw;
    width: 30vw;
    border-radius: 4px;

}
.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    left: 32vw;
    z-index: 1;
}
.searching{
   position: absolute;
   top: 39vw;
   left: 48vw;
   display: flex;
   flex-direction: column;
}
textarea:focus, input:focus {
    color: #393D4A;
    font-size: 1.4vw;
}

input, select, textarea{
    color: white;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;

    font-size: 1.2vw;
    line-height: inherit;
}
.icon{
    color:  #393D4A;
    font-size: 2.5vw !important;
}
.icons{
    position: absolute;
    top: 27vw;
    display: flex;
    flex-direction: column;
}
.side-icon{
  padding: 1vw;
  color: #eeeeee;
  margin-left: 3px;
  font-size: 2.5vw !important;
  cursor: pointer;
}
.collection{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10vw;
    color: #393D4A;
    opacity: 0.3;
}
/* .rank-1{
  
        position: absolute;
        left: 62vw;
        top: 67vw;
        box-shadow: 0 17px 27px 0 rgb(0 0 0 / 20%), 0 18px 39px 0 rgb(0 0 0 / 19%)
}
.rank-1-desp{
    position: absolute;
    left: 62vw;
        top: 67vw;

}
.rank-1-sub{
    padding: 34px;
} */